<html>
<body>
    <br />
    <br />
    <strong><span style='font-size: 14pt;font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;'>Nextcloud
            Talk Conversation</span><br /></strong>
    <br />
    <span style='font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;'>You can join our conversation
        using your computer or smartphone.</span><br />
    <b><a style='font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;' href='{URL}'>Click here to join
            the conversation </a></b><br />
    <br />
    {0}
    <br />
    <a style='font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;'
        href='https://docs.nextcloud.com/server/latest/user_manual/en/talk/join_a_call_or_chat_as_guest.html'>How to use
        Nextcloud Talk </a>|<a style='font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;'
        href='https://nextcloud.com/talk/'>About Nextcloud Talk </a></b></b><br /><br />

    <body>

</html>