.sendent-steps li {
    &::before {
        content: '\2022';
        display: inline-block;
        height: 1em;
        width: 1em;
        margin-right: 1em;
        background-size: contain;
        background-position: center center;
        text-align: center;
    }

    &[data-state="active"]::before {
        z-index: 2;
        content: '';
        border-radius: 100%;
        margin-left: -4px;
        animation: rotate 0.8s infinite linear;
        transform-origin: center;
        border: 2px solid var(--color-loading-light);
        border-top-color: var(--color-loading-dark);
        vertical-align: sub;
    }

    &[data-state="fail"]::before {
        content: '';
        background-image: var(--icon-error-e9322d);
    }

    &[data-state="success"]::before {
        content: '';
        background-image: var(--icon-checkmark-46ba61);
    }
}